.experienciaRow{
    padding: 4%;
    margin-right:0% ;
}
div{
    background-color: #151d36 ;
    color: white;
}
h2, h4{
    display: inline;
}
.tituloExp{
    color: rgb(157, 197, 235);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.descripcionExp{
    color: rgb(157, 197, 235);

}